@media (min-width: 992px) {
  .slider, .slide {
    height: 80vh;
  }
}
.banner__slider {
  margin-bottom: 100px;
  position: relative;
}
.slide {
  position: relative;
}
.slide .slide__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.slide .slide__img img {
  width: 100%;
  height: auto;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: all 1s ease;
}
.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .slide__content.slide__content__left {
  left: 15%;
  transform: translate(-15%, -50%);
}
.slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}
.slide .slide__content--headings {
  color: #FFF;
}
.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}
.slide__content {
  position: absolute;
  bottom: 45px;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media only screen and (max-width: 769px) {
  .slide__content {
    width: 90%;
  }
}

@media only screen and (max-width: 426px) {
  .banner__slider {
    padding-top: 100px;
  }
}
.slide__content--headings .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.slide .slide__content--headings .button-custom {
  text-decoration: none;
  color: #333;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
}

.slider [data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}

.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 0.25;
  width: 50px;
  height: 3px;
  padding: 0;
}
.stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}

/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
          animation-name: zoomInImage;
}

@-webkit-keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
          animation-name: zoomOutImage;
}

.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px);
}
.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 999;
}
.slick-nav.next-arrow {
  left: auto;
  right: 3%;
}
.slick-nav i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.slick-nav i:before, .slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.slick-nav i:before {
  transform: rotate(-40deg);
}
.slick-nav i:after {
  transform: rotate(40deg);
}
.slick-nav:before, .slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}
.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.slick-nav.animate svg {
  -webkit-animation: stroke 1s ease forwards 0.3s;
          animation: stroke 1s ease forwards 0.3s;
}
.slick-nav.animate i {
  -webkit-animation: arrow 1.6s ease forwards;
          animation: arrow 1.6s ease forwards;
}
.slick-nav.animate i:before {
  -webkit-animation: arrowUp 1.6s ease forwards;
          animation: arrowUp 1.6s ease forwards;
}
.slick-nav.animate i:after {
  -webkit-animation: arrowDown 1.6s ease forwards;
          animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}
@-webkit-keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@-webkit-keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@-webkit-keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

.btn--bordered.btn-introduct {
  background: rgba(0, 0, 0, 0.43);
  border: none;
  text-transform: capitalize;
}


.btn--bordered.btn-introduct .btn__inner {
  text-align: center;
  letter-spacing: 0px;
  font-weight: 500;
  padding: 0;
  font-size: 17px;
  padding: 10px 35px;
}
/* css menu */
.edgtf-position-right-inner {
  height: 100%;
}

nav.edgtf-main-menu {
  position: relative;
  height: 100%;
  width: auto;
}

.edgtf-menu-area.edgtf-menu-right .edgtf-main-menu {
  width: auto;
}

.edgtf-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.edgtf-main-menu>ul, .edgtf-main-menu>ul>li>a {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  position: relative;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.edgtf-main-menu>ul>li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.edgtf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.edgtf-main-menu>ul>li.edgtf-active-item>a {
  color: #FFF;
}

.edgtf-main-menu ul li a {
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #fff;
  font-family: "Roboto Condensed",sans-serif;
}

.edgtf-main-menu>ul>li>a>span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-main-menu>ul>li>a>span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.edgtf-main-menu>ul>li>a:after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 26px;
  border-right: 1px solid #e0e4f2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-slider-holder .edgtf-item-info-section>div:last-child:after, .edgtf-main-menu>ul>li>a:after {
  content: '';
}

.edgtf-main-menu>ul>li.edgtf-active-item>a {
  padding: 0 29px;
  color: #FFF;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  box-sizing: border-box;
}

.edgtf-main-menu>ul>li>a {
  Padding: 0 29px;
  color: #FFF;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  box-sizing: border-box;
}

.edgtf-main-menu>ul>li.has_sub>a .edgtf-menu-arrow, .edgtf-main-menu>ul>li:last-child>a:after {
  display: none;
}

.edgtf-drop-down .second {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top .15s ease-out;
  -moz-transition: top .15s ease-out;
  transition: top .15s ease-out;
}
.edgtf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
}

.edgtf-main-menu ul li:hover .second {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}

.edgtf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.43);
  padding: 26px 0;
}

.edgtf-drop-down .narrow .second .inner ul li {
  width: 290px;
}

.edgtf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.edgtf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 7px 30px;
}

.edgtf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding .35s cubic-bezier(.6,.3,.11,.86);
  -moz-transition: padding .35s cubic-bezier(.6,.3,.11,.86);
  transition: padding .35s cubic-bezier(.6,.3,.11,.86);
}

.edgtf-drop-down .second .inner ul li a .item_outer:before {
  content: '';
  top: calc(50% - 1px);
  left: -20px;
  width: 13px;
  height: 1px;
  background-color: #fff;
  color: inherit;
  line-height: inherit;
  -webkit-transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
  -moz-transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
  transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
}

.edgtf-drop-down .second .inner ul li a .item_outer:before, .edgtf-drop-down .second .inner ul li.sub>a .item_outer:after {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.edgtf-drop-down .second .inner ul li a:hover .item_outer:before, .edgtf-drop-down .second .inner ul li.current-menu-ancestor>a .item_outer:before, .edgtf-drop-down .second .inner ul li.current-menu-item>a .item_outer:before {
  left: 0;
}
.edgtf-drop-down .second .inner ul li a:hover .item_outer, .edgtf-drop-down .second .inner ul li.current-menu-ancestor>a .item_outer, .edgtf-drop-down .second .inner ul li.current-menu-item>a .item_outer {
  padding: 0 10px 0 20px;
}
